{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 80,
  "importOrder": [
    "^@mantine/(.*)$",
    "^@remix-run/(.*)$",
    "^~/components/(.*)$",
    "^~/hooks/(.*)$",
    "^~/utils/(.*)$",
    "^~/db/(.*)$",
    "^~/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false
}
